name: test

on:
  push:
    paths-ignore:
    - '**.md'
    - '**.y*ml'
  pull_request:
    branches:
    - main
    paths-ignore:
    - '**.md'
    - '**.y*ml'

jobs:
  tflint:
    runs-on: ubuntu-latest
    container: wata727/tflint
    steps:
    - uses: actions/checkout@v2
    - run: tflint

  terraform:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: hashicorp/setup-terraform@v1
    - run: terraform fmt -check -recursive
